<?xml version="1.0" encoding="UTF-8"?>
<gui name="gluk"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >

  <ToolBar name="mainToolBar" >
    <text>Main Toolbar</text>
    <Action name="refresh" />
    <Action name="configure" />
    <Action name="install" />
  </ToolBar>
  <MenuBar>
    <Menu name="view" ><text>View</text>
    <Action name="pkgdock" />
    <Action name="resume" />
    </Menu>
  </MenuBar>
</gui>